@import "config";

@font-face {
	font-family: Roboto-Bold;
	src: url("./fonts/Roboto/Roboto-Bold.ttf")
}

@font-face {
	font-family: Roboto-Regular;
	src: url("./fonts/Roboto/Roboto-Regular.ttf")
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	align-items: center;
	apparence: none;
	touch-action: manipulation;
	user-select: none;
	-webkit-user-select: none;
	border: none;
	outline: none;
	color: inherit;
	list-style: none;
	text-decoration: none;
	touch-action: manipulation;
}

button {
	cursor: pointer;
	background-color: $color-dark-primary;
	color: white;
}

body {
	overflow: hidden;
	background-color: $body-dark-primary;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	width: 100vw;
	font-family: Roboto-Regular;
	#wrapper {
		-webkit-overflow-scrolling: touch;
		@include size(100%);
		padding: .75rem;
	}
}
